$whitePrimary: rgb(255,255,255);
$white0: rgba(255,255,255, 0);
$whiteHex1 :rgb(241, 241, 241);
$whiteHex2: rgb(246, 246, 246);
$whiteHex3: rgb(224, 224, 224);
$blackPrimary: rgba(0,0,0,.7);
$blackSecondary: rgba(0,0,0,.54);
$blackDisabled: rgba(0,0,0,.38);
$black0: rgba(0, 0, 0, 0);
$black05: rgba(0, 0, 0, .5);
$black12: rgba(0, 0, 0, 0.12);
$black54: rgba(0, 0, 0, 0.54);
$grayBorder: #e0e0e0;
$darkGray1: #4a4a4a;
$grayText: #9b9b9b;
$green: #42b549;
$orange: #ff5722;

$f12: 0.85714rem;
$f13: 0.92857rem;
$f14: 1rem; 
$f16: 1.14286rem;
